@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');

body {
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  height: 100vh;
  margin: 25px;
}

label {
  text-align: left;
  font-size: 14px;
  padding: 0 0 7px 5px;
}

form {
  width: 420px;
  max-width: calc(100% - 30px);
}

ul {
  list-style: none;
  text-align: left;
  font-size: 12px;
  margin: 0px;
  padding-left: 0px;
  color: #000;
  width: 420px;
  max-width: 100%;
}

button {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border: 0px;
  appearance: none;
  background-color: #ff4800;
  border: 1px solid #fff;
  color: #fff;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #fff;
  color: #ff4800;
  border: 1px solid #ff4800;
}

.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  color: #ff4800;
}

.App-logo {
  background: url(https://www.nextel.com.br/css/geral/img/logo_header.svg) left top no-repeat;
  height: 50px;
  width: 125px;
  background-size: 100%;
  z-index: 1;
}

.App-header {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.row {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  position: relative;
}

.input {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;  
  outline: 0;
  padding: 13px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.input-salary {
  padding-left: 35px;
  border: 1px solid #ddd;
}

.input-select {
  border-radius: 0px;
  -webkit-appearance: none;
  appearance: none;
  background: white;
  border: solid 1px #ddd;
}

.input-error {
  border: 1px solid red;
}

.currency {
  position: absolute;
  padding-top: 45px;
  padding-left: 15px;
}

.text-bold {
  font-weight: bold;
}

.text-bold span { 
  font-weight: 400;
}

.text-error {
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  color: red;
  font-weight: 400;
  opacity: 0;
}

.text-error.active {
  opacity: 1;
}

.button-entry {
  top: 30%;
  display: inline-block;
  position: relative;
  margin: 10px;
  min-width: 176px;
}

.input-salary[type='normal'] {
  padding-left: 13px;
}